
.DS_Store
build
.git
*.egg-info
dist
data/coco
backup
weights/*.weights
__pycache__
checkpoints
*.v2
*.74
zebra
rhino
elephant
buffalo
output/zebra
output/buffalo
output/rhino
output/elephant
output/images_new
data/custom/images/buffalo
data/custom/images/rhino
data/custom/images/elephant
data/custom/images/zebra
*.pth
